* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

#main-contaner {
    background-color: black;
    height: 730px;
    padding-top: 100px;

}

#form {
    box-shadow: 1px 1px 70px rgba(81, 97, 247, 0.323),
        -1px -1px 70px rgba(81, 97, 247, 0.323);
    margin-left: 400px;
    padding-top: 20px;
    border: 1px solid white;
    background-color: rgb(2, 6, 24);
    width: 700px;
    height: 500px;
    border-radius: 20px;
}

ul li {
    text-decoration: none;
    list-style: none;
}

#form h1 {
    color: yellow;
}

label {
    color:rgba(122, 161, 234, 0.937);
}

input {
    margin: 20px 20px;

}

input:hover {
    font-weight: 800;
    color: rgb(4, 75, 206);
    background-color: rgba(40, 39, 39, 0.489);
}

button {
    background-color: rgb(0, 25, 73);
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 9px 39px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: black;
    box-shadow: 1px 1px 20px rgba(81, 97, 247, 0.323),
        -1px -1px 20px rgba(81, 97, 247, 0.323);
}
